

@import url('https://fonts.googleapis.com/css2? family= Poppins:ital@1 & family= Roboto:wght@400;700 & display=swap');

body {
    background-color: #ffffff;
   
}



.titulo{
 box-shadow: 10px 20px grey;
 background-color:#00ffff;
 border-radius: 8px;
 border-color:#000000;
 text-align: center;

}

.tabela {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color:#00ffff;
    border-radius: 8px;
    border-style: thick;
    border-color: #000000;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 05px;
    padding: 05px;
 
}
.p{
    font-family: 'Poppins', sem serifa;
    font-size: 20px;
    color: #000;
   
}
.link{
    font-family: 'Roboto', sem serifa;
    font-size: 20px;
    color: #00ff00;
   
}

.img{
    height: 200px;
    width: 230px;
    border-radius:110px;
    border-color: #000000;


        background-color: rgb(255, 175, 3);
}
.resta1{
    background-color: #cd853f;
}.resta2{
    background-color: #ff8c00;
}.resta3{
    background-color: #ff0000;
}.rest4{
    background-color: #ff8c00;
}.resta5{
    background-color: #000000;
}.resta6{
    background-color: #000080;
}.resta7{
    background-color: #FFFFF0;
}.resta8{
    background-color: #800000;
}.resta9{
    background-color: #00BFFF;

}.resta10{
    background-color:#FFFFFF;


   
}

