

@import url('https://fonts.googleapis.com/css2? family= Poppins:ital@1 & family= Roboto:wght@400;700 & display=swap');

body {
    background-color: #ffffff;
   
}


.titulo{
 background-color:#00ffff;
 border-radius: 8px;
 border-style: double;
 border-color: #ff1493;
 text-align: center;

}

.tabela {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    background-color:#dda0dd ;
    border-radius: 8px;
    border-style: double;
    border-color: #ff1493;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 05px;
    padding: 05px;
 
}
.p{
    font-family: 'Poppins', sem serifa;
    font-size: 20px;
    color: #000;
   
}
.link{
    font-family: 'Roboto', sem serifa;
    font-size: 20px;
    color: #ff1493;
   
}
.img{
    height: 200px;
    width: 230px;
    border-radius: 20px;


        background-color: rgb(255, 175, 3);
}
.resta1{
    background-color: rgb(120, 0, 201);
}.resta2{
    background-color: rgb(230, 7, 7);
}.resta3{
    background-color: rgb(255, 210, 61);
}.rest4{
    background-color: rgb(196, 199, 5);
}.resta5{
    background-color: rgb(4, 121, 13);
}.resta6{
    background-color: rgb(0, 59, 5);
}.resta7{
    background-color: rgb(99, 3, 3);
}.resta8{
    background-color: rgb(69, 255, 109);
}.resta9{
    background-color: rgb(255, 255, 255);

}.resta10{
    background-color: rgb(255, 255, 255);


   
}

