
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.player {
    background-color: #ff00d4; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.album-cover img {
    max-width: 100%;
    border-radius: 10px;
}
.controls button {
    background-color: #fff;
    color: #ff00ff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}
.controls button:hover {
    background-color: #00ffff; 
}
.playlist {
    margin-top: 20px;
}
#audio-player {
    width: 100%;
    margin-top: 10px;
}
.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}
